
*.o
bin/Debug/SomeLogger.exe
build/.vs/SomeLogger/FileContentIndex/29fae82a-fad0-4c9f-b25a-9cb913613f01.vsidx
build/.vs/SomeLogger/FileContentIndex/71d09940-d536-4d1a-9e92-13a2b62fc1da.vsidx
build/.vs/SomeLogger/FileContentIndex/d8d57087-7689-4a8b-b34f-b41c32b08301.vsidx
build/.vs/SomeLogger/FileContentIndex/f0110725-e7c6-41bd-8c77-e217a46acd9a.vsidx
build/.vs/SomeLogger/FileContentIndex/read.lock
build/.vs/SomeLogger/v17/.suo
build/.vs/SomeLogger/v17/Browse.VC.db
build/.vs/SomeLogger/v17/ipch/AutoPCH/ee1b979a01bc50ca/MAIN.ipch
build/.vs/SomeLogger/v17/Solution.VC.db
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.24.0-rc3/CMakeCCompiler.cmake
build/CMakeFiles/3.24.0-rc3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.24.0-rc3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.24.0-rc3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.24.0-rc3/CMakeRCCompiler.cmake
build/CMakeFiles/3.24.0-rc3/CMakeSystem.cmake
build/CMakeFiles/3.24.0-rc3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.24.0-rc3/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.24.0-rc3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.24.0-rc3/CompilerIdC/Debug/_IsIncrementalBuild
build/CMakeFiles/3.24.0-rc3/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.24.0-rc3/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.24.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.24.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.24.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.24.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.24.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.24.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.24.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.24.0-rc3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.24.0-rc3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.24.0-rc3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.24.0-rc3/CompilerIdCXX/Debug/_IsIncrementalBuild
build/CMakeFiles/3.24.0-rc3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.24.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.24.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.24.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.24.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.24.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.24.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.24.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.24.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.24.0-rc3/VCTargetsPath.txt
build/CMakeFiles/3.24.0-rc3/VCTargetsPath.vcxproj
build/CMakeFiles/3.24.0-rc3/x64/Debug/_IsIncrementalBuild
build/CMakeFiles/3.24.0-rc3/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.24.0-rc3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/f73cc1e94d26b61a0615a32d4c8943ac/generate.stamp.rule
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/Debug/SomeLogger.exe
build/Debug/SomeLogger.pdb
build/SomeLogger.dir/Debug/_IsIncrementalBuild
build/SomeLogger.dir/Debug/CMakeCXXCompilerId.obj
build/SomeLogger.dir/Debug/main.obj
build/SomeLogger.dir/Debug/SomeLogger.exe.recipe
build/SomeLogger.dir/Debug/SomeLogger.ilk
build/SomeLogger.dir/Debug/SomeLogger.log
build/SomeLogger.dir/Debug/SomeLogger.tlog/CL.command.1.tlog
build/SomeLogger.dir/Debug/SomeLogger.tlog/CL.read.1.tlog
build/SomeLogger.dir/Debug/SomeLogger.tlog/CL.write.1.tlog
build/SomeLogger.dir/Debug/SomeLogger.tlog/CustomBuild.command.1.tlog
build/SomeLogger.dir/Debug/SomeLogger.tlog/CustomBuild.read.1.tlog
build/SomeLogger.dir/Debug/SomeLogger.tlog/CustomBuild.write.1.tlog
build/SomeLogger.dir/Debug/SomeLogger.tlog/link.command.1.tlog
build/SomeLogger.dir/Debug/SomeLogger.tlog/link.read.1.tlog
build/SomeLogger.dir/Debug/SomeLogger.tlog/link.write.1.tlog
build/SomeLogger.dir/Debug/SomeLogger.tlog/SomeLogger.lastbuildstate
build/SomeLogger.dir/Debug/vc143.pdb
build/SomeLogger.sln
build/SomeLogger.vcxproj
build/SomeLogger.vcxproj.filters
build/SomeLogger.vcxproj.user
build/ZERO_CHECK.proj
build/ZERO_CHECK.proj.filters
bin/Debug/SomeLogger.exe
